.fixed {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 9;
  -webkit-transition: top .2s ease-out 0s;
  -moz-transition: top .2s ease-out 0s;
  -o-transition: top .2s ease-out 0s;
  transition: top .2s ease-out 0s;

  background-color: rgb(18, 30, 81);
}

.fixed-top {
  top: 0;
}

.fixed-bottom {
  top: -100px;
}
