.popup {
  background: #fff;
  background-image: url("../../img/advantages/adv-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.popup-overlay {
  display: none;
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
}

.popup-overlay > * {
  -webkit-transform: translateZ(0px);
}

.popup-show {
  display: block;
  // top: 50%;
  // transition: all 0.4s ease-in-out;

}