@font-face {
  font-family: "Proxima Nova";
  font-display: auto;
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"),
    url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: auto;
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"),
    url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  overflow: visible;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  font-family: $font-ProximaNova;
  line-height: 26px;
  font-size: 18px;

  color: $color-text;
}


.wrapper {
  position: relative;
}
