$mobile-width-x: 425px;
$mobile-width-xl: 600px;
$tablet-width: 769px;
$desktop-width: 1140px;
$desktop-width-x: 1280px;
$desktop-width-xl: 1540px;
$desktop-width-xxl: 1920px;

$mobile-width-only: 768px;


// Глобальные переменные


$color-white: #ffffff;
$color-black: #000000;
$color-blue-dark: #121E51;
$color-blue: #5182DD;
$color-grey: #EFF3F9;

$color-title: #1D2E7A;
$color-text: #495485;
$color-link: #5993FF;
$color-number: #5182DD;


$font-ProximaNova: "Proxima-Nova",
"Arial",
serif;
